<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://th.bing.com/th/id/OIP.29jQoZ-PwGSVpi1b-n2NOQHaE8?rs=1&pid=ImgDetMain">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> <!-- Para los iconos -->

  <style>
    body {
  background-image: url('https://w.wallhaven.cc/full/95/wallhaven-956q2x.jpg');
      background-size: cover;
      background-position: center;
      font-family: 'Arial', sans-serif;
    }
    .container {
      background-color: rgba(0, 0, 0, 0.3); /* Fondo negro con 30% de opacidad */
      border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil para separación */
      border-radius: 0.5rem; /* Bordes redondeados */
    }
    .card-header, .card-body {
   background-image: url('https://w.wallhaven.cc/full/95/wallhaven-956q2x.jpg');
      background-size: cover;
      background-position: center;
      color: white;
    }
    .card-body {
      background-color: rgba(0, 0, 0, 0.3); /* Fondo negro con 30% de opacidad */
      border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil para separación */
    }
    .card-header {
      background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
      color: #fff; /* Texto en blanco para mejor contraste */
    }
    .form-control {
      background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco con 30% de opacidad */
      border: 1px solid rgba(255, 255, 255, 0.5); /* Borde blanco con 50% de opacidad */
      color: #fff; /* Texto blanco para mejor contraste */
    }
    .form-control::placeholder {
      color: #ccc; /* Color del texto del placeholder */
    }
    .btn-success {
      background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con 20% de opacidad */
      border-color: rgba(255, 255, 255, 0.2); /* Borde blanco con 20% de opacidad */
      color: #fff; /* Texto blanco */
    }
    .btn-success:hover {
      background-color: grey; /* Color del botón al pasar el ratón por encima */
      border-color: grey; /* Color del borde del botón al pasar el ratón por encima */
    }
    .page-title {
      color: #fff; /* Color blanco para el título de la página */
    }
  </style>
</head>
<body>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card text-center">
          <div class="card-header">
            <h3 class="text-uppercase page-title">EDITANDO UNA PERSONA</h3>
          </div>
          <div class="card-body">
            <form action="/edit/{{persona.id}}" method="post">
              <div class="input-group mt-2">
                <label for="name" class="input-group-text">Nombre</label>
                <input class="form-control" type="text" name="name" id="name" value="{{persona.name}}" placeholder="Ejemplo: Luis Angel" autofocus required>
              </div>
              <div class="input-group mt-2">
                <label for="lastname" class="input-group-text">Apellido</label>
                <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Ejemplo: Fernandez" value="{{persona.lastname}}" required>
              </div>
              <div class="input-group mt-2">
                <label for="age" class="input-group-text">Edad</label>
                <input class="form-control" type="number" name="age" id="age" value="{{persona.age}}" placeholder="0" required>
              </div>
              <div class="form-group mt-4 d-grid gap-2">
                <button class="btn btn-success">Actualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>
